@CHARSET "UTF-8";

.page {
	height: 100%;
}

.width_full{
	width:100% !important;
}

iframe {
	border: none;
}

/* Disable shadow of CK Editor */
.cke {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
} 

.center {
	text-align: center;
}

.intro .title {
	max-width: 160px;
}

.intro .description {
	margin-left: 10px;
}

.intro .upgrade-wrap,
.intro .comming-soon-wrap {
	margin: 0px 0px 10px 0;
	font-size: 12px;
}

#js-upgrade-btn {
	float: right;
}

.comming-soon-wrap {
	margin: 0;
}

.intro {
	position: relative;	
}

.ui-accordion-header {
	font-size: 14px;
	color: #0099ff;
	font-family: "Helvetica Neue", "Helvetica";
}

.error {
	color: red;
}

.wide label {
	display: block;
	width: auto;
}
.wide input + label {
	position: absolute;
	right: 5px;
	top: -16px;
}

.wide textarea, .wide input {
	height: 25px;
	font-size: 14px;
}

::-webkit-input-placeholder, 
:-moz-placeholder /* Firefox 18- */,
::-moz-placeholder /* Firefox 19+ */,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
	font-size: 14px;
	color: #a9a9a9;
}	
/* IE fix */
.inputbar.placeholder {  
	font-size: 14px;
	color: #a9a9a9;
}

.error::-webkit-input-placeholder, 
.error:-moz-placeholder /* Firefox 18- */,
.error::-moz-placeholder /* Firefox 19+ */,
.error:-ms-input-placeholder {
	color: red;	
}
/* IE fix */
.inputbar.error.placeholder {
	color: red;	
}

div.tagsinput {
	border-radius: 1px;
	border-top: 1px solid #f1f1f1;
	border-top-style: inset;
	border-left: 1px solid #f1f1f1;
	border-left-style: inset;
	border-bottom: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	margin-top: 1em;
	background: #FFF; 
	width:auto !important; 
	height:auto;
	min-height: 0 !important;
	overflow-y: auto;
		background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF),
		color-stop(1, #F7F7F7) );
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 100%);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

div.tagsinput span.tag { 
	border: 1px solid #96BA01;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	display: block; 
	float: left; 
	padding: 0px 5px; 
	text-decoration:none; 
	background: #A6CD01;
	color: #fff; 
	margin: 6px 0 0 5px;
}

div.tagsinput span.tag a { 
	font-weight: bold; 
	color: #fff; 
	text-decoration:none; 
	font-size: 12px;
} 

div.tagsinput input { 
	width: 100% !important; 
	margin:0px; 
	padding: 3px 5px 3px; 
	background: transparent; 
	color: #000; 
	outline:0px;  
	margin-right:5px;
	border: none;
}
div.tagsinput input::-ms-clear {
	display: none;
}

div.tagsinput div {
	display:block; 
	float: left;
}
.tags_clear { 
	clear: both; 
	width: 100%; 
	height: 0px
}
.not_valid {
	background: #FBD8DB !important; 
	color: #90111A !important;
}


.intro .description > p {
	min-height: 38px;
	margin-bottom: 5px;
}

.image-preview, .video-preview {
	display: block;
	position: relative;
	padding: 5px;
	margin-top: -1em;
	
	border-top: none;
	border-left: 1px solid #f1f1f1;
	border-left-style: inset;	
	border-bottom: none;
	border-right: 1px solid #c4c4c4;
	background-color: rgb(253, 253, 253);
}

.image-source + .image-remove {
	display: none;
	position: absolute;
	bottom: 1em;
	left: 50%;
	width: 6em;
	margin-left: -3em;
	background-color: #fff;
}

.image-remove:HOVER,
.image-source:HOVER + .image-remove {
	display: inline;
}
.image-source {
	display: block;
	margin: 0 auto;
	max-width: 500px !important;
	max-height: 250px !important;
}
#image-caption {
	height: 3em;
}

/* text area */
#text-content {
	height: 280px;
}

/*photo*/
.url-inputbar {
	position: relative;
	display: inline-block;
	width: 100%;
}

.url-barbuttons {
	position: absolute;
	top: 3px;
	right: 0;
}

.url-barbuttons .btn.default {
	padding: 0px 9px 0px 9px;
	margin: 0 3px 0 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background-color: white;
}
#js-image-gallery{
	margin-right: 0;
}
.btn.default {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background-color: white;
}

.post-cancel-buttons .btn.post-text {
	background: blue none;
	border-radius: 1px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2d903), color-stop(1, #9ec200) );
	background:-moz-linear-gradient( center top, #b2d903 5%, #9ec200 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2d903', endColorstr='#9ec200');
 	display:inline-block;
	color:#ffffff;
	font-family: "Helvetica Neue", "Helvetica";
	font-size:14px;
	padding:4px 24px; 
	text-decoration:none;
	background-color:#9ec200;
}
.post-cancel-buttons .btn.post-text:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9ec200), color-stop(1, #b2d903) );
	background:-moz-linear-gradient( center top, #9ec200 5%, #b2d903 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ec200', endColorstr='#b2d903');
}

.post-cancel-buttons .btn.post-image {
	background: blue none;
	border-radius: 1px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff4096), color-stop(1, #d40c6a) );
	background:-moz-linear-gradient( center top, #ff4096 5%, #d40c6a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4096', endColorstr='#d40c6a');
	background-color:#ff4096;
 	display:inline-block;
	color:#ffffff;
	font-family: "Helvetica Neue", "Helvetica";
	font-size:14px;
	padding:4px 24px;
	text-decoration:none;
	background-color:#d40c6a;
}
.post-cancel-buttons .btn.post-image:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d40c6a), color-stop(1, #ff4096) );
	background:-moz-linear-gradient( center top, #d40c6a 5%, #ff4096 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d40c6a', endColorstr='#ff4096');
}

.post-cancel-buttons .btn.post-video {
	background: blue none;
	border-radius: 1px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #028bd4), color-stop(1, #025b8f) );
	background:-moz-linear-gradient( center top, #028bd4 5%, #025b8f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#028bd4', endColorstr='#025b8f');
	background-color:#028bd4;
 	display:inline-block;
	color:#ffffff;
	font-family: "Helvetica Neue", "Helvetica";
	font-size:14px;
	padding:4px 24px;
	text-decoration:none;
	background-color:#025b8f;
}
.post-cancel-buttons .btn.post-video:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #025b8f), color-stop(1, #028bd4) );
	background:-moz-linear-gradient( center top, #025b8f 5%, #028bd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#025b8f', endColorstr='#028bd4');
}

.post-cancel-buttons .btn.post-link {
	background: blue none;
	border-radius: 1px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #737cc7), color-stop(1, #555c96) );
	background:-moz-linear-gradient( center top, #737cc7 5%, #555c96 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#737cc7', endColorstr='#555c96');
	background-color:#737cc7;
 	display:inline-block;
	color:#ffffff;
	font-family: "Helvetica Neue", "Helvetica";
	font-size:14px;
	padding:4px 24px;
	text-decoration:none;
	background-color:#555c96;
}
.post-cancel-buttons .btn.post-link:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555c96), color-stop(1, #737cc7) );
	background:-moz-linear-gradient( center top, #555c96 5%, #737cc7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555c96', endColorstr='#737cc7');
}

.post-cancel-buttons .btn.default {
	float: none;
 }

 .post-cancel-buttons .btn.default:hover {
	background-color: rgb(245, 245, 245);
 }

/* Video */
.video-preview {
	display: block;
	margin-top: -1em;
}

.inputlabel {
	font-size: 1.5em;
	padding-bottom: 10px;
}

.inputbar-wrap {
	position: relative;
	border-radius: 1px;
	display: block;
	width: auto;
	padding: 1px 5px;
	margin-bottom: 1em;
	border-top: 1px solid #f1f1f1;
	border-top-style: inset;
	border-left: 1px solid #f1f1f1;
	border-left-style: inset;
	border-bottom: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF),
		color-stop(1, #F7F7F7) );
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 100%);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
}


.inputbar {
	border: 0;
	background: transparent;
	color: #202020;
	padding: 0;
	outline: none;
	width: 100%;
}

.buttonbar {
}

.iconbutton {
	margin-right: 20px;
	border-radius: 32px;
}

.iconbutton.text.active {
	box-shadow: 0 0 10px 0px #95B801;
}

.iconbutton.image.active {
	box-shadow: 0 0 10px 0px #CB0D63;
}

.iconbutton.video.active {
	box-shadow: 0 0 10px 0px #005E99;
}

.iconbutton.link.active{
	box-shadow: 0 0 10px 0px #585E99;
}

.settingsdescription {
	font-size: 14px;
	color: #373737;
	font-family: "Helvetica Neue", "Helvetica";
}


/* Recent posts */

#recent-posts {
	margin: 0;
}

#recent-posts .tile {
	width: 100px;
	height: 38px;
	position: relative;
	float: left;
	/*overflow: hidden;*/ /* TODO: Can I delete this?? */
	border: 1px solid transparent;
	border-left-width: 10px;
	margin: 6px 0;
}

#recent-posts .foreground,
#recent-posts .background {
	position: relative;
	width: 80%;
	height: 80%;
	margin: 10%;
}



.tile .foreground .date {
	color: inherit;
	position: absolute;
	bottom: 0;
	right: 190px;	
}

#recent-posts .tile.text {
	border-color: #A6CD01;
}

#recent-posts .tile.image {
	border-color: #E20E6E;
}

#recent-posts .tile.video {
	border-color: #0069AA;
}

#recent-posts .tile.link {
	border-color: #6269AA;
}

#recent-posts .tile.image .background,
#recent-posts .tile.video .background,
#recent-posts .tile.link .background {
	text-align: center;
}

#recent-posts h3 {
	font-size: 1em;
	line-height: 1;
	max-height: 3em;
	overflow: hidden;
} 

#recent-posts .date {
	position: absolute;
	margin: 0;
} 

#recent-posts img {
	max-height: 100%;
	max-width: 100%;
}

#recent-posts p {
	color: inherit;
}

/* Recent postst - wide */

#recent-posts.wide .tile.image .background,
#recent-posts.wide .tile.video .background,
#recent-posts.wide .tile.link .background {
	text-align: inherit;
}

#recent-posts.wide .tile {
	float: none;
	width: auto;
}

#recent-posts.wide .foreground,
#recent-posts.wide .background {
	margin: 12px !important;
	width: auto;
	height: auto;
	padding-right: 190px;
}

#recent-posts.wide h3 {
	padding-right: 80px;
	max-height: 1em;
	min-height: 1em;
	margin: 0;
}

.wide .tile .foreground .date {
	top: 0;
	bottom: auto;
}

.manage-buttons {
	margin-right: 7px;
	position: absolute;
	top: 0px;
	right: 0;
}

.btn.default.edit{
	height: 20px;
	margin: 4px;
	margin-right: -3px;
	line-height: 20px;
	border-radius: 1px;
}

.btn.default.delete{
	height: 20px;
	margin: 3px;
	line-height: 20px;
	border-radius: 1px;
}

/* Delete confirmation */
.inline-confirmation-block {
	background: white;
	text-align: right;
	font-size: 12px;
	color: red;
	font-weight: bold;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -155px;
	right: 0;
	line-height: 35px;
}

.inline-confirmation-block .btn {
	font-weight: normal;
}

#recent-posts.wide .tile .preview {
	float: left;
	margin-right: 10px;
	max-height: 50px;
	width: 67px;
	text-align: center;
}

#recent-posts.wide .manage-buttons label {
	display: block;
	font-size: 10px;
	float: left;
	line-height: 4px;
	margin-top: 7px;
	color: #8e8e8e;	
}
.switch_container_row {
	position: relative;
}

.switch_container_top {
    /* position:absolute; */
    top: 0; 
    left: 0
    z-index: 1;
    font-size: 10px;
}

.switch_container_bottom {
    /* position:absolute; */
    top: 0; 
    left: 0
    z-index: 2;
    font-size: 10px;
}
#recent-posts.wide .tile .content {
	overflow: hidden;
	max-height: 3em;
}

#recent-posts.wide .tile .content * {
	margin: 0;
}

#recent-posts.wide .buttons {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#recent-posts .buttons .btn {
	padding: 0px 4px;
	display: block;
	color: #848484;
	margin: 10px;
}

.tile form {
	background: white;
	margin: 10px;
}
.tile form p {
	margin: 10px 0 0;
}
.tile form p:FIRST-CHILD {
	margin: 0;
}

span.post-type {
	color: #fff;
	display: inline-block;
	padding: 2px 5px;
	border-radius: 2px;
	border: 1px solid white;
	margin-top: 5px;
}

span.post-type.text {
	background: #A6CD01;
	border-color: #96BA01;
}

span.post-type.image {
	background: #E20E6E;
	border-color: #CA0C62;
}

span.post-type.video {
	background: #0069AA;
	border-color: #00609B;
}

span.post-type.link {
	background: #6269AA;
	border-color: #595F9A;
}

/* Button Sprite*/
.post_buttons {margin: 1em 0 0 0;}
.post_buttons a,
.post_buttons a:HOVER {
	 text-decoration: none;
}
.blog_but-post-buttons{ width:70px; height:70px; background:url("../../images/blog-post-buttons.png") top left no-repeat;
display: inline-block;}
.post_but_link:hover{ background-position:-10px -90px; }
.post_but_link:active, .post_but_link.active{ background-position:-14px -14px; }
.post_but_link{ background-position:-10px -170px; }
.post_but_video:hover{ background-position:-10px -330px; }
.post_but_video:active, .post_but_video.active{ background-position:-14px -254px; }
.post_but_video{ background-position:-10px -410px; }
.post_but_photo:hover{ background-position:-10px -570px; }
.post_but_photo:active, .post_but_photo.active{ background-position:-15px -495px; }
.post_but_photo{ background-position:-10px -650px; }
.post_but_text:hover{ background-position:-10px -810px; }
.post_but_text:active, .post_but_text.active{ background-position:-14px -734px; }
.post_but_text{ background-position:-10px -890px; }

/* Layout And Pagination */
.required {
	font-size: 14px;
	color: #373737;
	font-family: "Helvetica Neue", "Helvetica";
}

.box .list li .inputbar-wrap {
	padding: 2px 5px;
	box-shadow: 0;
	line-height: 14px;
	width: 100px;
}
.box .list li .inputbar-wrap input {
	font-size: 14px;
}

.pagination_setting label, .translation_setting label {
	width: 300px;
	display: inline-block;
}
.checkbox-translation{
	margin-left: -50px;
}
.box .post-area {
	/* overflow: hidden; */
}

/* Social networks */

.social_networks_share_buttons .list li .inputbar-wrap {
	width: auto;
}

.social_networks_share_buttons .url-barbuttons {
	line-height: 1;
	top: 2px;
}

/* Hide counter for FB like */
.without-counter .fb-wrapper,
.without-counter .fb-wrapper iframe {
    width: 45px !important;
}

.without-counter .fb-wrapper.recommend,
.without-counter .fb-wrapper.recommend iframe {
	width: 85px !important;
}

/* but make the span that holds the comment box larger */
.without-counter .fb-wrapper iframe.fb_iframe_widget_lift
{
    width: 450px !important;
}


/* General Settings */
.subtitle  {
	font-size: 14px;
	color: #373737;
	font-family: "Helvetica Neue", "Helvetica";
}

.box .list.social-rating li > *{
  display: block;
   color: #373737;
   margin-right: 50px;
}


.box .list.social-rating li {
   line-height: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-right: 30px;
}

.box .list.description {
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	font-size: 12px;
	color: #8e8e8e;
	font-family: "Helvetica Neue", "Helvetica";
}

.box .lower-header {
	color: #373737;
	margin-top: 1em;
	margin-bottom: 5px;
	font-family: "Helvetica Neue", "Helvetica";
}
.box span.lower-header{
	font-weight: bold;
	font-size: 14px;
	display: block;
	position: relative;
}
.wide .social .lower-header input + label{
	right: none;
	left: 10px;
}

.checkbox-label {
	font-size: 14px;
	margin-left: 30px;
}


#date_format {
	float: left;
	border: 1px solid #8e8e8e;
	height: 25px;
	background-color: #ffffff;
	font-size: 14px;
	font-family: "Helvetica Neue", "Helvetica";
	color: #373737;
	margin-left: 2em;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divider_left {
	border-left: 1px solid #d4d4d4;
	height: 261px
}

.divider_right  {
	border-right: 1px solid #d4d4d4;
	height: 261px
}

.ui-sortable-helper {
	background: white;
	border-bottom: none !important;
	box-shadow: 0 0 2px 0px gray;
}

.drag-placeholder {
	background-color: #d4d4d4;
}
/*Sidebar settings*/
.sidebar_colors .fourth{
	margin-left: 95px;
}
.sidebarDividerThicknes .dividerOpacity.slider{
	margin-left: -70px;
}
.sidebar_colors .third{
	margin-left: 53px;
}
.sidebar_colors .fonts-select{
	float: none;
	margin-left: 20px;
}
.sidebar_setting label {
	display: inline-block;
	width: 130px;
	margin-left: 30px;
}
.sidebar_setting .readouts label {
	margin-left: 10px;
}
.sidebar_setting div > label:FIRST-CHILD {
	width: 160px;
	margin-left: 10px;
	display: inline;
}
.sidebar_setting.fonts div > label:FIRST-CHILD {
	width: 110px;
}
.top_field, .top_field label{
	width: 100%;
}
.sidebar_setting .sidebarDividerThicknesLabel{
	width: 65px;
}
.sidebarDividerThicknes .slider{
	margin-top: -5px;
	margin-left: -15px;
}
.sidebarDividerThicknes {
	margin-left: 20px;
}
.recentPostsCountLabel, .sidebar_fonts, .bottom_field{
	margin-left: 30px;
}
.add-on{
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	position: relative;
}
.trt label{
	display: block;
	float: left;
	margin-left: 30px;
}
.trt .inputbar-wrap{
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	margin-bottom: 0;
}
.widgets_fontSize{
	margin-left: 25px;
	margin-right: -10px;
}
.sidebar_fonts .slider label{
	margin-left: 25px;
	margin-right: -10px;	
}
.sidebar_fonts .slider .count{
	width: 40px;
	margin-top: -5px;
}
.sidebar_fonts .count input{
	width: 20px;
	float: left;
	margin-top: 11px;
	margin-right: 0;	
}
.sidebar_fonts .fonts-select{
	float:none;
	margin-top: -3px;
}
.recent_posts .sidebar_fonts, .tag_cloud .sidebar_fonts{
	display: block !important;
	margin-top: -14px;
}
.sidebar_fonts .ui-slider{
	margin-bottom: 3px;
}
.datetimepicker input{
	height: 26px;
}
.post-cancel-buttons{
	float: left;
	margin-top: 17px;
}
.datetimepicker{
	width: 246px;
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-left: 5px;
}
.datetimepicker label.lower-header {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
	color: #373737;
	margin-bottom: 0;
	font-family: "Helvetica Neue", "Helvetica";
	display: inline;
}
.tile form p.dtp, .dtp {
	margin-top: -14px;
	margin-left: -5px;
}
#recent-posts .tile form .dtp {
    margin-top: 0;
}
.pcb .post-cancel-buttons{
	float: left;
	margin-top: -13px;
	margin-left: -3px;
}
.translation_setting label.trtReadMore{
	width: 276px;
}