.clearfix {
	*zoom: 1;
}

.clearfix:before,.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.btn {
	text-shadow: none;
	background-color: #0099FF;
	background-repeat: repeat-x;
	background-position: 0 50%;
	font-size: 14px;
}

.btn.upgrade,.btn.default {
	background-image: url('../../images/bg-gradient.png');
	background-color: transparent;
	color: #44a0d2;
	border-color: #ddd;
}

.btn.blue,.btn.connect {
	background: #0099FF;
	color: #fff;
	border-color: #5B8FA7;
}

.btn.blue:hover,.btn.connect:hover {
	color: #fff;
	border: 1px solid #237aa7;
	background-color: #179ce1;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
}

.btn.upgrade {
	color: #a41aa4;
	font-size: 14px;
}

.btn.gray {
	color: #444;
	border-color: #888;
}

/* checkbox styling */
input[type="checkbox"],input[type="radio"] {
	display: none;
}
input.disabled+label,input.disabled+label:before,.disabled {
	opacity: 0.5;
}

input[type="checkbox"]+label:before,input[type="radio"]+label:before {
	content: "";
	margin-right: 7px;
	position: relative;
	top: 1px;
	background: transparent url("../../images/settings/btn/btn_checkbox.png")
		top left no-repeat;
	height: 13px;
	width: 14px;
	display: inline-block;
}

label.checked:before,input[type="checkbox"]:checked+label:before,input[type="radio"]:checked+label:before {
	background: transparent
		url("../../images/settings/btn/btn_checkbox_checked.png") top left
		no-repeat;
	height: 13px;
	width: 14px;
	display: inline-block;
}

input[type="checkbox"]+label:first-child,input[type="radio"]+label:first-child {
	text-indent: 0;
}

/* radio buttons */
input[type="radio"]+label:before {
	background: transparent url("../../images/settings/btn/btn_radio.png") top
		left no-repeat;
	height: 12px;
	width: 12px;
	display: inline-block;
}

label.checked:before,input[type="radio"]:checked+label:before {
	background: transparent
		url("../../images/settings/btn/btn_radio_checked.jpg") top left no-repeat;
	height: 12px;
	width: 12px;
	display: inline-block;
}

/* switch styling */
input.switch {
	display: none;
}

input.switch+label,
a.switch {
	display: block;
	font-size: 10px;
	float: left;
	line-height: 4px;
	margin-top: 7px;
	color: #8e8e8e;
	text-decoration: none;
}

input.switch.disabled+label,
a.switch.disabled {
	opacity: 0.5;
}

input.switch+label:before,
a.switch:before {
	display: none !important;
}

input.switch+label:after,
a.switch:after {
	content: "";
	position: relative;
	top: 1px;
	background: transparent url("../../images/settings/slider/toggle-off.png") bottom center no-repeat;
	height: 26px;
	width: 44px;
	display: block;
	margin: 0 auto;
}

input.switch+label.checked:after,
input.switch:checked+label:after,
a.switch.checked:after {
	background-image: url("../../images/settings/slider/toggle-on.png");
}

input.switch+label:first-child,
a.switch:first-child {
	text-indent: 0;
}

/* slider */
.slider {
	margin-bottom: 20px;
}
li .slider {
	margin: 0;
}

.slider .count {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	width: 25px;
}

.slider .count input[type="text"] {
	border: none;
	background: none;
}

.slider .count label {
	display: none;
}

/*!
 * jQuery UI Slider 1.8.22
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }

.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.ui-slider {
	margin: 0 0 0 20px;
	height: 20px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent url("../../images/settings/btn/bg_slider.png") top
		left repeat-x;
	height: 4px;
	width: 5px;
	display: inline-block;
	width: 100%;
}
.fonts .ui-slider{
	margin-left: 10px;
}

.ui-slider .ui-slider-handle {
	background: transparent url("../../images/settings/btn/btn_tracker.png")
		top left no-repeat;
	height: 18px;
	width: 18px;
	display: inline-block;
	border: none;
	top: -8px;
}

.ui-slider .ui-slider-range {
	background: none;
}

.ui-slider-disabled {
	opacity: 0.5;
}

.settings_box label {
	width: 253px !important;
}

.color_settings_box .slider {
	display: inline-block;
	width: 120px;
}

.color_settings_box .ui-slider {
	margin: 0 !important;
}