/* Post layouts */

.content.line .caption, .content.line .photo, .content.line .video, .content.line .url{
	float: left;
	max-width: 48%;
	margin: 1%;
	padding: 0;
	display: block;
}
.content.line .caption{
	font-size: 80%;
}

/* 2 columns layout*/
.columns_2 .wrapper {
	width: 47%;
	margin: 1%;
	padding: 0;
	float: left;
	font-size: 80%;
}
.columns_2 .tags{max-width: 100%;float: left;}
.columns_2 .tag{float: left;}
.columns_2 .datebox{max-width: 100%;text-align: right;}
/* 2 columns layout*/
.columns_3 .wrapper {
	width: 31%;
	margin: 1%;
	padding: 0;
	float: left;
	font-size: 80%;
}
.columns_3 .tags{max-width:100%;float: left;}
.columns_3 .tag{float: left;}
.columns_3 .datebox{max-width: 100%;text-align: right;}
/* 2 columns layout*/
.columns_4 .wrapper {
	width: 22.5%;
	margin: 1%;
	padding: 0;
	float: left;
	font-size: 80%;
}
.columns_4 .tags{max-width: 100%;float: left;}
.columns_4 .tag{float: left;}
.columns_4 .datebox{max-width: 100%;text-align: right;}
.columns_4 .caption, .columns_3 .caption{
	font-size: 80%;
	overflow: hidden;
}
.columns_4 .title a, .columns_4 .title, .columns_3 .title, .columns_3 .title a{
	font-size: 20px;
}
.columns_4 .url p a, .columns_3 .url p a{
	font-size: 12px;
}
.columns_2 .post.link .line .url a,.columns_3 .post.link .line .url a ,.columns_4 .line .post.link .url a  {color:transparent !important;}
.columns_4 .post.link .url a  {
	margin-left: 30px;
}
.displayedPosts{
	margin-top: 1px;
}
.pinterest .displayedPosts{
	margin-top: 10px;
}