@CHARSET "UTF-8";

.left-column{
	float: left;
	width: 66.224489795918%;
}
.columns_1  .left-column .wrapper{
	width: 90%;
}
.right-column{
	float: left;
	width: 29.184%;
	margin: 0 0 0 10px;
}

/* Recent events */
rec-posts{
	width: 100%;
	display: block;
}
.rec-title a{
	display: block;
	margin-bottom: 5px;
}
/*Tag cloud*/

.tag-cloud a:hover {
    text-decoration: underline;
}
.sidebar h2 {
	margin-bottom: 5px;
}
.sidebar .tag-cloud {
	width: 95%;
	display: block;
} 
.tag-cloud span {
    padding: 4px;
}
 
.tag-cloud .smallest {
    font-size:60%;
}
 
.tag-cloud .small {
    font-size:80%;
}
 
.tag-cloud .medium {
    font-size:100%;
}
 
.tag-cloud .large {
    font-size:120%;
}
 
.tag-cloud .largest {
    font-size:140%;
}
