div.tagsinput input {
	width: 111% !important;
	padding: 0 5px;
	height: 31px;
}

div.tagsinput div {
	overflow: hidden;
}
.datetimepicker {
	width: 270px;
}
.datetimepicker .datepicker .datepicker_inner_container .datepicker_timelist{
	width: 65px;
}