@CHARSET "UTF-8";

/* Vertical share buttons */
.vertical .fb-wrapper {
	padding-top: 4px;
}

.vertical .gplus-wrapper {
	padding-top: 5px;
}

.vertical .twitter-wrapper {
	padding-top: 3px;
}

.vertical .pinterest-wrapper {
	padding-top: 25px;
}